extends ../layout

block content
  if step == "1"
    h1.display-3 Forget Password
    form(method="POST")
      label(for="email") Enter your email to search
      input(id="email", type="text", name="email", class="form-control")
      br
      if errors
        if errors[0].length
          .alert.alert-danger= errors[0]
      button(type="submit", class="btn btn-primary mr-2") Send code to gmail
      a(class="btn btn-secondary", href="/", role="button") Back
  if step == "2"
    h1.display-3 Confirm Code
    form(method="POST")
      label(for="code") Enter your code to confirm
      input(id="code", type="text", name="code", class="form-control")
      br
      if errors
        if errors[0].length
          .alert.alert-danger= errors[0]
      if !errors
        .alert.alert-success= "We send the code to your email. Check your email to get the code. Maybe it's in spam."
      button(type="submit", class="btn btn-primary mr-2") Confirm
      a(class="btn btn-secondary", href="/auth/forget-password", role="button") Back
  if step == "3"
    h1.display-1 Set New Password
    form(method="POST")
      label(for="new") New password
      input(id="new", type="password", name="new", class="form-control")
      br
      if errors
        if errors[0].length
          .alert.alert-danger= errors[0]
      label(for="confirm") Confirm new password
      input(id="confirm", type="password", name="confirm", class="form-control")
      br
      if errors
        if errors[1].length
          .alert.alert-danger= errors[1]
      button(type="submit", class="btn btn-primary mr-2") Set
      a(class="btn btn-secondary", href="/auth/login", role="button") Exit